# **Overview**
In this week's independent project, you will be working as Data Scientist for MTN Cote d'Ivoire, a leading telecom company and you will be solving for the following research question.

*   Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

Below are some questions that can get you started:
1.   Which ones were the most used city for the three days?
2.   Which cities were the most used during business and home hours?
3. Most used city for the three days?
4. etc

The telecom data provided for this project is only a sample ( i.e. for only three days).  The data files that you will need for this project will be as follows:

1. cells_geo_description.xlsx [link text](https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing)
2. cells_geo.csv [link text](https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing)
3. CDR_description.xlsx [link text](https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD)
4. CDR 20120507 [link text](http://bit.ly/Telcom_dataset1)(Dataset1)
5. CDR 20120508 [link text](http://bit.ly/Telcom_dataset2)(Dataset2)
6. CDR 20120509 [link text](http://bit.ly/Telcom_dataset3)(Dataset3)

## 1.0 Importing the libraryies to be used

In [254]:
# Importing pandas
import pandas as pd
# Importing numpy
import numpy as np

## 2.0 Loading the datasets

In [255]:
# importing the cells_geo.csv dataset
cells_geo = pd.read_csv('/content/cells_geo.csv', delimiter=';')
cells_geo.head() # previewing the first 5 records

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [256]:
# importing the telcom_dataset1
telcom_dataset1 = pd.read_csv('/content/Telcom_dataset.csv',delimiter=',')
telcom_dataset1.head() # previewing the first 5 records

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [257]:
# importing the telcom_dataset2
telcom_dataset2 = pd.read_csv('/content/Telcom_dataset2.csv',delimiter=',')
telcom_dataset2.head() # previewing the first 5 records

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [258]:
# importing the telcom_dataset3
telcom_dataset3 = pd.read_csv('/content/Telcom_dataset3.csv',delimiter=',')
telcom_dataset3.head() # previewing the first 5 records

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

## 3.0 Verifying data integrity

### 3.1 Checking data integrity for the cells_geo dataset

In [259]:
cells_geo

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [260]:
# Checking if there null values
cells_geo.isnull().any()

Unnamed: 0      False
VILLES          False
STATUS           True
LOCALISATION    False
DECOUPZONE      False
ZONENAME         True
LONGITUDE       False
LATITUDE        False
REGION          False
AREA             True
CELL_ID         False
SITE_CODE       False
dtype: bool

In [261]:
# checking the total number of null values in the dataset
cells_geo.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [262]:
# checking for duplicated records
cells_geo.duplicated().any()

False

### 3.2 Checking for data integrity in telcom_dataset1

In [263]:
# Checking if there is any null values
telcom_dataset1.isnull().any()

PRODUTC            False
VALUE              False
DATETIME           False
CELL_ON_SITE       False
DW_A_NUMBER_INT    False
DW_B_NUMBER_INT    False
COUNTRY_A          False
COUNTRY_B          False
CELL_ID            False
SITE_ID             True
dtype: bool

In [264]:
# checking the total number of null values in each column in the dataset
telcom_dataset1.isnull().sum()

PRODUTC              0
VALUE                0
DATETIME             0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELL_ID              0
SITE_ID            716
dtype: int64

In [265]:
# checking for duplicated records
telcom_dataset1.duplicated().any()

True

In [266]:
# identifying the total number duplicates
telcom_dataset1.duplicated().sum()

82

### 3.3 Checking for data integrity in telcom_dataset2

In [267]:
# Checking if there is any null values
telcom_dataset2.isnull().any()

PRODUCT         False
VALUE           False
DATE_TIME       False
CELL_ON_SITE    False
DW_A_NUMBER     False
DW_B_NUMBER     False
COUNTRY_A       False
COUNTRY_B       False
CELL_ID         False
SITE_ID          True
dtype: bool

In [268]:
# checking the total number of null values in each column in the dataset
telcom_dataset2.isnull().sum()

PRODUCT           0
VALUE             0
DATE_TIME         0
CELL_ON_SITE      0
DW_A_NUMBER       0
DW_B_NUMBER       0
COUNTRY_A         0
COUNTRY_B         0
CELL_ID           0
SITE_ID         676
dtype: int64

In [269]:
# checking for duplicated records
telcom_dataset2.duplicated().any()

True

In [270]:
# identifying the total number duplicates
telcom_dataset2.duplicated().sum()

78

### 3.4 Checking for data integrity in telcom_dataset3

In [271]:
# Checking if there is any null values
telcom_dataset3.isnull().any()

PRODUCT            False
VALUE              False
DATE_TIME          False
CELL_ON_SITE       False
DW_A_NUMBER_INT    False
DW_B_NUMBER_INT    False
COUNTRY_A          False
COUNTRY_B          False
CELLID             False
SIET_ID             True
dtype: bool

In [272]:
# checking the total number of null values in each column in the dataset
telcom_dataset3.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELLID               0
SIET_ID            605
dtype: int64

In [273]:
# checking for duplicated records
telcom_dataset3.duplicated().any()

True

In [274]:
# identifying the total number duplicates
telcom_dataset3.duplicated().sum()

93

## 4.0 Data Cleaning

### 4.1 Cleaning the cells_geo dataset

In [275]:
cells_geo

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [276]:
# filling where empty in the status column with Not In Service
cells_geo['STATUS'] = cells_geo['STATUS'].replace(to_replace = np.nan, value = 'Not In Service')
cells_geo

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [277]:
# Dropping all null values
cleaned_cells_geo = cells_geo.dropna()
cleaned_cells_geo

      Unnamed: 0    VILLES      STATUS  ...           AREA     CELL_ID   SITE_CODE
23            23     ABOBO  In Service  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24            24     ABOBO  In Service  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25            25     ABOBO  In Service  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26            26     ABOBO  In Service  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27            27     ABOBO  In Service  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...          ...       ...         ...  ...            ...         ...         ...
3969        3969  ZUENOULA  In Service  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3945 rows x 12 columns]

In [278]:
# Checking if there is any null values in the cleaned dataset
cleaned_cells_geo.isnull().any().sum

<bound method Series.sum of Unnamed: 0      False
VILLES          False
STATUS          False
LOCALISATION    False
DECOUPZONE      False
ZONENAME        False
LONGITUDE       False
LATITUDE        False
REGION          False
AREA            False
CELL_ID         False
SITE_CODE       False
dtype: bool>

### 4.2 Cleaning the telcom_datasets by removing the CELL_ON_SITE

In [279]:
# Dropping the CELL_ON_SITE column in each telcom_dataset1
telcom_dataset1 = telcom_dataset1.drop('CELL_ON_SITE', axis=1)
telcom_dataset1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 9 columns]

In [280]:
telcom_dataset2 = telcom_dataset2.drop('CELL_ON_SITE', axis=1)
telcom_dataset2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 9 columns]

In [281]:
telcom_dataset3 = telcom_dataset3.drop('CELL_ON_SITE', axis=1)
telcom_dataset3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 9 columns]

### 4.2 Cleaning the telcom_dataset1

In [282]:
# standard column name for all colmns
columns = ['PRODUCT','VALUE','DATETIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','SITE_CODE']

In [283]:
# Dropping all null values
none_null_telcom_dataset1 = telcom_dataset1.dropna()
none_null_telcom_dataset1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4285 rows x 9 columns]

In [284]:
# checking if there is any null values in the cleaned dataset
none_null_telcom_dataset1.isnull().any()

PRODUTC            False
VALUE              False
DATETIME           False
DW_A_NUMBER_INT    False
DW_B_NUMBER_INT    False
COUNTRY_A          False
COUNTRY_B          False
CELL_ID            False
SITE_ID            False
dtype: bool

In [285]:
# dropping all the duplicated records
cleaned_telcom_dataset1=none_null_telcom_dataset1.drop_duplicates()
cleaned_telcom_dataset1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4215 rows x 9 columns]

In [286]:
# checking if theres is any duplicates in the final cleaned dataset
cleaned_telcom_dataset1.duplicated().any()

False

In [287]:
# Renaming the column name 'PRODUTC' to 'PRODUCT'
cleaned_telcom_dataset1.columns = columns
cleaned_telcom_dataset1

     PRODUCT  VALUE               DATETIME  ... COUNTRY_A   COUNTRY_B   SITE_CODE
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4215 rows x 9 columns]

### 4.3 Cleaning the telcom_dataset2

In [288]:
# Dropping all null values
none_null_telcom_dataset2 = telcom_dataset2.dropna()
none_null_telcom_dataset2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[4325 rows x 9 columns]

In [289]:
# checking if there is any null values in the cleaned dataset
none_null_telcom_dataset2.isnull().any()

PRODUCT        False
VALUE          False
DATE_TIME      False
DW_A_NUMBER    False
DW_B_NUMBER    False
COUNTRY_A      False
COUNTRY_B      False
CELL_ID        False
SITE_ID        False
dtype: bool

In [290]:
# dropping all the duplicated records
cleaned_telcom_dataset2=none_null_telcom_dataset2.drop_duplicates()
cleaned_telcom_dataset2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4994     sms      0  2012-05-08 00:01:53.0  ...     19e2e  f54e480df9  928a59b635
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264

[4263 rows x 9 columns]

In [291]:
# checking if theres is any duplicates in the final cleaned dataset
cleaned_telcom_dataset2.duplicated().any()

False

In [292]:
# Renaming the columns
cleaned_telcom_dataset2.columns = columns
cleaned_telcom_dataset2

     PRODUCT  VALUE               DATETIME  ... COUNTRY_A   COUNTRY_B   SITE_CODE
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4994     sms      0  2012-05-08 00:01:53.0  ...     19e2e  f54e480df9  928a59b635
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264

[4263 rows x 9 columns]

### 4.4 Cleaning the telcom_dataset3

In [293]:
# Dropping all null values
none_null_telcom_dataset3 = telcom_dataset3.dropna()
none_null_telcom_dataset3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4396 rows x 9 columns]

In [294]:
# checking if there is any null values in the cleaned dataset
none_null_telcom_dataset3.isnull().any()

PRODUCT            False
VALUE              False
DATE_TIME          False
DW_A_NUMBER_INT    False
DW_B_NUMBER_INT    False
COUNTRY_A          False
COUNTRY_B          False
CELLID             False
SIET_ID            False
dtype: bool

In [295]:
# dropping all the duplicated records
cleaned_telcom_dataset3=none_null_telcom_dataset3.drop_duplicates()
cleaned_telcom_dataset3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4311 rows x 9 columns]

In [296]:
# checking if theres is any duplicates in the final cleaned dataset
cleaned_telcom_dataset3.duplicated().any()

False

In [297]:
# Renaming the columns
cleaned_telcom_dataset3.columns = columns
cleaned_telcom_dataset3

     PRODUCT  VALUE               DATETIME  ... COUNTRY_A   COUNTRY_B   SITE_CODE
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4311 rows x 9 columns]

### 4.5 Concating all the telcom datasets

In [298]:
combined_telcom_dataset = pd.concat([cleaned_telcom_dataset1,cleaned_telcom_dataset2, cleaned_telcom_dataset3])
combined_telcom_dataset

     PRODUCT  VALUE               DATETIME  ... COUNTRY_A   COUNTRY_B   SITE_CODE
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[12789 rows x 9 columns]

### 4.6 Merging the conacted telcom datasets and the cleaned cell_geo dataset

In [299]:
cleaned_cells_geo

      Unnamed: 0    VILLES      STATUS  ...           AREA     CELL_ID   SITE_CODE
23            23     ABOBO  In Service  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24            24     ABOBO  In Service  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25            25     ABOBO  In Service  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26            26     ABOBO  In Service  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27            27     ABOBO  In Service  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...          ...       ...         ...  ...            ...         ...         ...
3969        3969  ZUENOULA  In Service  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3945 rows x 12 columns]

In [300]:
final = combined_telcom_dataset.merge(cleaned_cells_geo, how='left', on='SITE_CODE')
final

      PRODUCT  VALUE               DATETIME  ...  REGION           AREA     CELL_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     NaN            NaN         NaN
1         sms      0  2012-05-06 23:05:25.0  ...     NaN            NaN         NaN
2         sms     25  2012-05-06 23:05:41.0  ...     NaN            NaN         NaN
3       Voice     56  2012-05-06 23:05:42.0  ...     NaN            NaN         NaN
4       Voice     14  2012-05-06 23:06:29.0  ...     NaN            NaN         NaN
...       ...    ...                    ...  ...     ...            ...         ...
52596   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  ed1b508bc9
52597   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  3795ad5cbd
52598   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  09a60b0991
52599   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  a1b0a4671d
52600   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  979062ae01

[52601 rows x 20 columns]

In [301]:
# filling where empty in the status column with Not In Service
final['STATUS'] = final['STATUS'].replace(to_replace = np.nan, value = 'Not In Service')
final

      PRODUCT  VALUE               DATETIME  ...  REGION           AREA     CELL_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     NaN            NaN         NaN
1         sms      0  2012-05-06 23:05:25.0  ...     NaN            NaN         NaN
2         sms     25  2012-05-06 23:05:41.0  ...     NaN            NaN         NaN
3       Voice     56  2012-05-06 23:05:42.0  ...     NaN            NaN         NaN
4       Voice     14  2012-05-06 23:06:29.0  ...     NaN            NaN         NaN
...       ...    ...                    ...  ...     ...            ...         ...
52596   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  ed1b508bc9
52597   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  3795ad5cbd
52598   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  09a60b0991
52599   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  a1b0a4671d
52600   Voice     60  2012-05-09 00:01:43.0  ...  LAGUNE  ABIDJAN NORTH  979062ae01

[52601 rows x 20 columns]

In [302]:
final['STATUS'].unique()

array(['Not In Service', 'In Service'], dtype=object)

### 4.7 Removing all records the null value in the final dataset

In [303]:
final = final.dropna()
final

      PRODUCT  VALUE  ...           AREA     CELL_ID
662       sms      0  ...   CENTRE NORTH  24ccdda3d5
663       sms      0  ...   CENTRE NORTH  ebfc58af70
664       sms      0  ...   CENTRE NORTH  ba8ce6e4ef
665       sms      0  ...   CENTRE NORTH  c2545171dc
666       sms      0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
52596   Voice     60  ...  ABIDJAN NORTH  ed1b508bc9
52597   Voice     60  ...  ABIDJAN NORTH  3795ad5cbd
52598   Voice     60  ...  ABIDJAN NORTH  09a60b0991
52599   Voice     60  ...  ABIDJAN NORTH  a1b0a4671d
52600   Voice     60  ...  ABIDJAN NORTH  979062ae01

[50044 rows x 20 columns]

In [304]:
# Checking for null values in the final dataset in any
final.isnull().any()

PRODUCT            False
VALUE              False
DATETIME           False
CELL_ON_SITE       False
DW_A_NUMBER_INT    False
DW_B_NUMBER_INT    False
COUNTRY_A          False
COUNTRY_B          False
SITE_CODE          False
Unnamed: 0         False
VILLES             False
STATUS             False
LOCALISATION       False
DECOUPZONE         False
ZONENAME           False
LONGITUDE          False
LATITUDE           False
REGION             False
AREA               False
CELL_ID            False
dtype: bool

In [305]:
# Dropping irrelevant column
final = final.drop('Unnamed: 0', axis=1)
final

      PRODUCT  VALUE  ...           AREA     CELL_ID
662       sms      0  ...   CENTRE NORTH  24ccdda3d5
663       sms      0  ...   CENTRE NORTH  ebfc58af70
664       sms      0  ...   CENTRE NORTH  ba8ce6e4ef
665       sms      0  ...   CENTRE NORTH  c2545171dc
666       sms      0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
52596   Voice     60  ...  ABIDJAN NORTH  ed1b508bc9
52597   Voice     60  ...  ABIDJAN NORTH  3795ad5cbd
52598   Voice     60  ...  ABIDJAN NORTH  09a60b0991
52599   Voice     60  ...  ABIDJAN NORTH  a1b0a4671d
52600   Voice     60  ...  ABIDJAN NORTH  979062ae01

[50044 rows x 19 columns]

In [306]:
# Resetting the index
final = final.reset_index()
final

       index PRODUCT  VALUE  ...             REGION           AREA     CELL_ID
0        662     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  24ccdda3d5
1        663     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ebfc58af70
2        664     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ba8ce6e4ef
3        665     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  c2545171dc
4        666     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  f15bd5483f
...      ...     ...    ...  ...                ...            ...         ...
50039  52596   Voice     60  ...             LAGUNE  ABIDJAN NORTH  ed1b508bc9
50040  52597   Voice     60  ...             LAGUNE  ABIDJAN NORTH  3795ad5cbd
50041  52598   Voice     60  ...             LAGUNE  ABIDJAN NORTH  09a60b0991
50042  52599   Voice     60  ...             LAGUNE  ABIDJAN NORTH  a1b0a4671d
50043  52600   Voice     60  ...             LAGUNE  ABIDJAN NORTH  979062ae01

[50044 rows x 20 columns]

In [307]:
# Checking for dupicates in the final dataset
final.duplicated().any()

False

## 5.0 **Data** Analysis

In [308]:
# previewing the final dataset
final

       index PRODUCT  VALUE  ...             REGION           AREA     CELL_ID
0        662     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  24ccdda3d5
1        663     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ebfc58af70
2        664     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ba8ce6e4ef
3        665     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  c2545171dc
4        666     sms      0  ...  VALLEE DU BANDAMA   CENTRE NORTH  f15bd5483f
...      ...     ...    ...  ...                ...            ...         ...
50039  52596   Voice     60  ...             LAGUNE  ABIDJAN NORTH  ed1b508bc9
50040  52597   Voice     60  ...             LAGUNE  ABIDJAN NORTH  3795ad5cbd
50041  52598   Voice     60  ...             LAGUNE  ABIDJAN NORTH  09a60b0991
50042  52599   Voice     60  ...             LAGUNE  ABIDJAN NORTH  a1b0a4671d
50043  52600   Voice     60  ...             LAGUNE  ABIDJAN NORTH  979062ae01

[50044 rows x 20 columns]

In [309]:
final_2 = final[(final['LOCALISATION'] == 'ABIDJAN')].reset_index()
final_2

       level_0  index PRODUCT  ...  REGION           AREA     CELL_ID
0            6    668     sms  ...  LAGUNE  ABIDJAN SOUTH  10801414c7
1            7    669     sms  ...  LAGUNE  ABIDJAN SOUTH  33e6176808
2            8    670     sms  ...  LAGUNE  ABIDJAN SOUTH  60d0fa90b1
3            9    671     sms  ...  LAGUNE  ABIDJAN SOUTH  674f1d487c
4           10    672     sms  ...  LAGUNE  ABIDJAN SOUTH  0577440f1d
...        ...    ...     ...  ...     ...            ...         ...
31188    50039  52596   Voice  ...  LAGUNE  ABIDJAN NORTH  ed1b508bc9
31189    50040  52597   Voice  ...  LAGUNE  ABIDJAN NORTH  3795ad5cbd
31190    50041  52598   Voice  ...  LAGUNE  ABIDJAN NORTH  09a60b0991
31191    50042  52599   Voice  ...  LAGUNE  ABIDJAN NORTH  a1b0a4671d
31192    50043  52600   Voice  ...  LAGUNE  ABIDJAN NORTH  979062ae01

[31193 rows x 21 columns]

### Determinig the most used city/cities for three days

In [310]:
# determing the maximum value (Billing price)
max_value = final_2['VALUE'].max()
max_value

6750

In [311]:
# determing the most used city/cities
most_used_city = final_2[(final_2['VALUE'] == max_value)]
most_used_city

       level_0  index PRODUCT  ...  REGION           AREA     CELL_ID
22612    36911  39365   Voice  ...  LAGUNE  ABIDJAN NORTH  e979887400
22613    36912  39366   Voice  ...  LAGUNE  ABIDJAN NORTH  1ec42c36a0
22614    36913  39367   Voice  ...  LAGUNE  ABIDJAN NORTH  78513e000d
22615    36914  39368   Voice  ...  LAGUNE  ABIDJAN NORTH  78513e000d
22616    36915  39369   Voice  ...  LAGUNE  ABIDJAN NORTH  21de9f8833

[5 rows x 21 columns]

In [312]:
# Storing the city in a list
list(final_2['VILLES'][(final_2['VALUE'] == max_value)].unique())

['COCODY']

In [313]:
# Determing the mean of the most used city
group = most_used_city['VALUE'].groupby(most_used_city['VILLES'])
group.mean()

VILLES
COCODY    6750
Name: VALUE, dtype: int64

### Determinig the least used city/cities for three days

In [338]:
# determing the minimum value (Billing price)
min_value = final_2['VALUE'].min()
min_value

0

In [339]:
# determing the least used city/cities 
least_used_city = final_2[(final_2['VALUE'] == min_value)]
least_used_city

       level_0  index PRODUCT  VALUE  ...  REGION           AREA     CELL_ID hour
0            6    668     sms      0  ...  LAGUNE  ABIDJAN SOUTH  10801414c7    0
1            7    669     sms      0  ...  LAGUNE  ABIDJAN SOUTH  33e6176808    0
2            8    670     sms      0  ...  LAGUNE  ABIDJAN SOUTH  60d0fa90b1    0
3            9    671     sms      0  ...  LAGUNE  ABIDJAN SOUTH  674f1d487c    0
4           10    672     sms      0  ...  LAGUNE  ABIDJAN SOUTH  0577440f1d    0
...        ...    ...     ...    ...  ...     ...            ...         ...  ...
31159    49980  52536     sms      0  ...  LAGUNE  ABIDJAN NORTH  430ef28d0a    0
31170    49997  52553   Voice      0  ...  LAGUNE  ABIDJAN SOUTH  645545b005    0
31171    49998  52554   Voice      0  ...  LAGUNE  ABIDJAN SOUTH  5105e75f0a    0
31172    49999  52555   Voice      0  ...  LAGUNE  ABIDJAN SOUTH  f7f527c807    0
31173    50000  52556   Voice      0  ...  LAGUNE  ABIDJAN SOUTH  0396dbd109    0

[16217 rows x 22 columns]

In [344]:
# exporting them to an excel file
# determining the name of the file
file_name = 'Cities that need an upgrade.xlsx'
  
# saving the excel
least_used_city.to_excel(file_name)

### Determinig the most used city/cities during business hours i.e between 9am and 5 pm

In [314]:
# creating a new column called hours
#convert from string to datetime
final_2['DATETIME'] = pd.to_datetime(final_2['DATETIME'])
final_2['hour'] =  final_2['DATETIME'].dt.hour
final_2

       level_0  index PRODUCT  VALUE  ...  REGION           AREA     CELL_ID hour
0            6    668     sms      0  ...  LAGUNE  ABIDJAN SOUTH  10801414c7    0
1            7    669     sms      0  ...  LAGUNE  ABIDJAN SOUTH  33e6176808    0
2            8    670     sms      0  ...  LAGUNE  ABIDJAN SOUTH  60d0fa90b1    0
3            9    671     sms      0  ...  LAGUNE  ABIDJAN SOUTH  674f1d487c    0
4           10    672     sms      0  ...  LAGUNE  ABIDJAN SOUTH  0577440f1d    0
...        ...    ...     ...    ...  ...     ...            ...         ...  ...
31188    50039  52596   Voice     60  ...  LAGUNE  ABIDJAN NORTH  ed1b508bc9    0
31189    50040  52597   Voice     60  ...  LAGUNE  ABIDJAN NORTH  3795ad5cbd    0
31190    50041  52598   Voice     60  ...  LAGUNE  ABIDJAN NORTH  09a60b0991    0
31191    50042  52599   Voice     60  ...  LAGUNE  ABIDJAN NORTH  a1b0a4671d    0
31192    50043  52600   Voice     60  ...  LAGUNE  ABIDJAN NORTH  979062ae01    0

[31193 rows x 22 columns]

In [315]:
final_2.dtypes

level_0                     int64
index                       int64
PRODUCT                    object
VALUE                       int64
DATETIME           datetime64[ns]
CELL_ON_SITE               object
DW_A_NUMBER_INT            object
DW_B_NUMBER_INT            object
COUNTRY_A                  object
COUNTRY_B                  object
SITE_CODE                  object
VILLES                     object
STATUS                     object
LOCALISATION               object
DECOUPZONE                 object
ZONENAME                   object
LONGITUDE                 float64
LATITUDE                  float64
REGION                     object
AREA                       object
CELL_ID                    object
hour                        int64
dtype: object

In [322]:
# Determing business hours
business_hours = final_2[(final_2['hour'] > 9) & (final_2['hour'] < 17)]
business_hours

Empty DataFrame
Columns: [level_0, index, PRODUCT, VALUE, DATETIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, SITE_CODE, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, hour]
Index: []

### Determinig the most used city/cities during home hours i.e between 5:01 pm and 8:59 am.

In [324]:
# First start by creating a dataset know as home_hours
home_hours = final_2[~(final_2['hour'] > 9) & (final_2['hour'] < 17)]
home_hours

       level_0  index PRODUCT  VALUE  ...  REGION           AREA     CELL_ID hour
0            6    668     sms      0  ...  LAGUNE  ABIDJAN SOUTH  10801414c7    0
1            7    669     sms      0  ...  LAGUNE  ABIDJAN SOUTH  33e6176808    0
2            8    670     sms      0  ...  LAGUNE  ABIDJAN SOUTH  60d0fa90b1    0
3            9    671     sms      0  ...  LAGUNE  ABIDJAN SOUTH  674f1d487c    0
4           10    672     sms      0  ...  LAGUNE  ABIDJAN SOUTH  0577440f1d    0
...        ...    ...     ...    ...  ...     ...            ...         ...  ...
31188    50039  52596   Voice     60  ...  LAGUNE  ABIDJAN NORTH  ed1b508bc9    0
31189    50040  52597   Voice     60  ...  LAGUNE  ABIDJAN NORTH  3795ad5cbd    0
31190    50041  52598   Voice     60  ...  LAGUNE  ABIDJAN NORTH  09a60b0991    0
31191    50042  52599   Voice     60  ...  LAGUNE  ABIDJAN NORTH  a1b0a4671d    0
31192    50043  52600   Voice     60  ...  LAGUNE  ABIDJAN NORTH  979062ae01    0

[31193 rows x 22 columns]

In [334]:
# Determing the maximum billing values
max_home_hours = home_hours['VALUE'].max()
most_used_home_hours = home_hours[(home_hours['VALUE'] == max_home_hours)]
most_used_home_hours

       level_0  index PRODUCT  VALUE  ...  REGION           AREA     CELL_ID hour
22612    36911  39365   Voice   6750  ...  LAGUNE  ABIDJAN NORTH  e979887400    0
22613    36912  39366   Voice   6750  ...  LAGUNE  ABIDJAN NORTH  1ec42c36a0    0
22614    36913  39367   Voice   6750  ...  LAGUNE  ABIDJAN NORTH  78513e000d    0
22615    36914  39368   Voice   6750  ...  LAGUNE  ABIDJAN NORTH  78513e000d    0
22616    36915  39369   Voice   6750  ...  LAGUNE  ABIDJAN NORTH  21de9f8833    0

[5 rows x 22 columns]

In [336]:
# Determing the mean of the most used city during home hours
group = most_used_home_hours['VALUE'].groupby(most_used_home_hours['VILLES'])
group.mean()

VILLES
COCODY    6750
Name: VALUE, dtype: int64